# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Environments
.env
.venv/
venv/
env/
.conda/
*.egg-info/
pip-wheel-metadata/

# IDE / editor
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# Data downloads
data/

